<div class="row">
'  <div class="col d-flex flex-column align-items-center p-4">
'    <h1>Mountains!</h1>
    <%= form_tag("/mountains", method: :get) do %>
      <p> Search for a mountain </p>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search") %>
    <% end %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <table class="table">
      <tr>
        <th>Mountain Name</th>
        <th>elevation</th>
        <th><%= link_to '# of Trails', sort: 'trail_countz' %></th>
        <th>Created at</th>
        <th> </th>
        <th> </th>
      </tr>
      <% @mountains.each do |mt| %>
        <tr>
          <td><%= link_to mt.name, "/mountains/#{mt.id}" %></td>
          <td><%= mt.elevation %></td>
          <td> <%= mt.trail_count %> </td>
          <td><%= mt.created_at.strftime("%m\/%d\/%Y %I:%M:%S") %></td>
          <td><%= link_to "Update #{mt.name}", "/mountains/#{mt.id}/edit" %></td>
          <td><%= link_to "Delete #{mt.name}", "/mountains/#{mt.id}", method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <%= link_to "New Mountain", "/mountains/new", class: 'btn btn-primary' %>
  </div>
</div>
