<div class="row justify-content-center">
  <div class="col-6 border border-1 mt-3 p-3 d-flex flex-column align-items-center">
  <h1>Create a New Mountain!</h1>
    <%= form_with(url: "/mountains", method: :post, local: true) do |form| %>
      <div>
        <%= form.label(:name, "Mountain Name") %>
        <%= form.text_field :name, style: 'text-transform: capitalize;' %>
      </div>
      <br>
      <div>
        <%= form.label :handicap_accessible %>
        <%= form.select(:handicap_accessible, options_for_select([true, false])) %>
      </div>
      <br>
      <div>
        <%= form.label :elevation, "Mountain Elevation" %>
        <%= form.number_field :elevation %>
      </div>
      <br>
      <div class="d-flex justify-content-center"><%= form.submit "Create Mountain" %></div>
    <% end %>
  </div>
</div>
