<%= form_with(url: "/trails/#{@trail.id}", method: :patch, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :trail_open %>
    <%= form.select(:trail_open, options_for_select([true, false])) %>
  </div>

  <div>
    <%= form.label :elevation_drop %>
    <%= form.number_field :elevation_drop %>
  </div>

  <%= form.submit "Update #{@trail.name}" %>
<% end %>