<div class="row mt-3">
  <div class="col d-flex flex-column align-items-center">
  <h2>Create New Trail for <%= @mountain.name %></h2>
    <%= form_with(url: "/mountains/#{@mountain.id}/trails", method: :post, local: true) do |form| %>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <br>
      <div>
        <%= form.label :trail_open %>
        <%= form.select(:trail_open, options_for_select([true, false])) %>
      </div>
      <br>
      <div>
        <%= form.label :elevation_drop %>
        <%= form.number_field :elevation_drop %>
      </div>
      <br>
      <%= form.submit "Create New Trail for #{@mountain.name}", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
