<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container">
  <nav class="bg-dark p-2 d-flex justify-content-around">
     <%= link_to "All Trails", "/trails", class: 'text-decoration-none, text-light' %>
     <%= link_to "All Mountains", "/mountains", class: 'text-decoration-none, text-light' %>
  </nav>
    <%= yield %>
  </body>
</html>
